$body-color: #170c3a;
$white: #fff;
$blue: #365df0;
$white-blue: #e1e7fd;
$light-blue: #b9c6fa;
$green: #0dcb7d;
$light-green: #12db89;
$cyan: #2497b2;
$purple: #9aaef7;
$red: #f95e5a;
$white-red: #feefee;
$light-red: #fcd7d6;

$gray-100: #f5f4f6;
$gray-200: #ebeaed;
$gray-300: #dedce1;
$gray-400: #b1adb9;
$gray-500: #8f8f9b;
$gray-600: #8f8a9b;
$gray-700: #5b6987;

$font-family-base: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Source Sans Pro Semibold', sans-serif;
$headings-font-weight: 600;

$primary: $blue;
$secondary: $white-blue;
$success: $green;
$warning: $light-red;
$info: $cyan;

$input-btn-focus-width: 0;
$border-radius: 5px;

$input-color: $body-color;
$input-placeholder-color: $gray-400;
$input-bg: $gray-100;
$input-border-color: $gray-200;
$input-focus-bg: $gray-200;
$input-focus-border-color: $gray-300;

$btn-border-width: 0;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.5rem;
$yiq-text-dark: $blue;
$btn-font-family: 'Source Sans Pro Semibold', sans-serif;

$custom-control-indicator-checked-bg: $light-green;
$custom-control-indicator-active-bg: $custom-control-indicator-checked-bg;
$custom-control-indicator-border-color: $gray-300;
$custom-control-indicator-focus-border-color: $custom-control-indicator-border-color;

$card-spacer-x: 0;
$card-spacer-y: 0;
$card-shadow: 0 10px 10px #0000000D;

$enable-validation-icons: false;
$form-feedback-margin-top: 0;
$form-feedback-valid-color: $input-border-color;

$dropdown-border-color: $gray-200;
$dropdown-box-shadow: 0 20px 25px #0000001A;
$dropdown-link-color: $gray-500;
$dropdown-link-hover-color: $blue;
$dropdown-link-hover-bg: $white-blue;
$dropdown-link-active-color: $blue;
$dropdown-link-active-bg: $white-blue;
$dropdown-item-padding-y: 0.65rem;
$dropdown-divider-margin-y: 0;